<h1>root.erb</h1>
<h1>Hello, World!</h1>
<h3>This is my first app</h3>
<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ-H9vFQmd_Vf0CioN45M-bGgFh_oOp9uu38oL73wCr8U-YNkhgN2hal61W" alt="monster mash">
<a href="/greeting">Go to greeting page</a>
